@mixin align-centering-using-flex {
  display: flex;
  align-items: center;
}

@mixin sticky-middle-left {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@mixin absolute-left-top {
  position: absolute;
  top: 0;
  left: 0;
}
