<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main>
      <div class="add-story">
        <div class="container py-5">
          <styled-heading>
            <h1 class="mb-5 text-center">Add Story</h1>
          </styled-heading>

          <form id="addStoryForm" class="bg-white p-4 rounded shadow d-flex flex-column">
            <div class="mb-4">
              <label
                for="validationCustomDescription"
                class="form-label fw-semibold fs-5"
                >Description</label
              >
              <textarea-with-validation
                inputId="validationCustomDescription"
                invalidFeedbackMessage="Wajib diisi"
                required
                rows="8"
              ></textarea-with-validation>
            </div>

            <div class="mb-5">
              <label
                for="validationCustomImage"
                class="form-label fw-semibold fs-5"
                >Photo</label
              >
              <input-image-with-preview
                inputId="validationCustomImage"
                invalidFeedbackMessage="Wajib diisi"
                required
              ></input-image-with-preview>
            </div>

              <button class="custom-btn w-50 mx-auto" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </main>

    
        <footer-app></footer-app>
    </footer>
  </body>
</html>
