<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main id="company-profile">
      <div class="company-profile">
        <div class="container py-5">
          <styled-heading>
            <h1 class="mb-4 text-center">Company Profile</h1>
          </styled-heading>

          <company-profile></company-profile>
        </div>
      </div>
    </main>

    <footer-app></footer-app>
  </body>
</html>
