<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <main class="min-vh-100 d-flex">
      <div class="m-auto container">
        <loading-indicator></loading-indicator>
        <alert-indicator></alert-indicator>
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-4">
            <styled-heading>
              <h1 class="mb-4 text-center pb-2">Login</h1>
            </styled-heading>

            <form id="loginForm" novalidate>
              <div class="mb-3">
                <label for="validationCustomRecordEmail" class="form-label"
                  >Email</label
                >
                <input-with-validation
                  type="email"
                  inputId="validationCustomRecordEmail"
                  invalidFeedbackMessage="A valid email address must include '@'"
                  required
                ></input-with-validation>
              </div>

              <div class="mb-4">
                <label for="validationCustomPassword" class="form-label"
                  >Password</label
                >
                <input-with-validation
                  type="password"
                  inputId="validationCustomPassword"
                  invalidFeedbackMessage="Password must be at least 8 characters long."
                  required
                ></input-with-validation>
              </div>

              <div class="col-12 text-end">
                <button class="custom-btn w-100" type="submit">Submit</button>
              </div>
            </form>

            <div class="mt-4 text-center">
              Don't have an account?
              <a href="/register.html" class="text-black">Register</a>
            </div>

            <div class="mt-4 text-center">
              <button type="button" id="loginAsGuestButton" class="custom-btn">
                Continue As Guest
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
